/* .header {
  background: linear-gradient(to right, #28a6bd, #1100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.body {
  background: url("images/background.jpg") center / cover no-repeat fixed;
  background-color: rgb(247, 247, 239);
  font-family: Arial, sans-serif;
  color: white;
} */

.body {
  font-family: Arial, sans-serif;
}
